<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset For Atanfo Ny3 Nyame Fantasy</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Hello {{ user.username }},</p>
    <p>Click the following link to reset your password:</p>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>This reset link is valid for 24 hours.</p>
    <p>Thank you!</p>




    <i>Please do not reply to this email</i>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    h1 {
        color: #333;
    }

    p {
        font-size: 16px;
        line-height: 1.4;
        color: #555;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }
</style>

</html>


